@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger">Error.</h3>
<h4 class="text-danger">An error occurred while processing your request.</h4>
<hr />

<h3>Exception Details</h3>
<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>